

*{
margin: 0;
padding: 0;
}
.cabecalho-org{
 background-color: #343434;
 color: white;
 align-items: start;
 display: flex;
 justify-content: start;
}
.cabecalho-img{
 width: 8%;
 padding-left: 850px;
}
.cabecalho-1{
    display: block;
    font-size: 24px;
    padding-right: 610px;
    padding-left: 24px;
    padding-top: 11px;
}
.cabecalho-2{
    display: block;
    font-size: 24px;
    padding-left: 24px;
}
.sobre{
  background-image: linear-gradient(#0b6c8a, #1F499B);
  display: flex;
}

.sobre-cabecalho{
padding-left: 400px;
}
.site-frase{
width: 12%;
padding-top: 160px;
padding-left: 100px;
}
.comp-img{
  width: 30%;
  padding-bottom: 50px;
  align-items: end;
}
  .gp7{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }
  .corpo{
    background-image: linear-gradient(#1F499B, #22C8DE);
  }
  .vini-img{
    width: 17%;
    padding-top: 50px;
    padding-left: 160px;
   
  }
  .leo-img{
    width: 17%;
   padding-left: 92px;
   padding-right: 92px;
  }
  .bryan-img{
    width: 17%;
}
.nathan-img{
  width: 17%;
  padding-left: 92px;
}
  .frase-div{
    display: flex;
  }
  .frase-vini{
    width: 17%;
    padding-left: 160px;
  }
  .frase-leo{
    width: 17%;
    padding-left: 94px;
    padding-bottom: 260px;
  }
  .frase-bryan{
    width: 17%;
    padding-left: 96px;
  }
  .frase-nathan{
 width: 17%;
 padding-left: 98px;
  }
  .espaço{
    background-color: #343434;
    height: 70px;
  }
  .trabalhos{
    color: whitesmoke;
    display: flex;
    font-size: 50px;
    justify-content: center;
  }
  